.site-footer {
	bottom: 0;
	left: 0;
	min-width: 200px;
	position: fixed;
	width: calc(100vw / 6);
	z-index: 99;

	@include tablet {
		position: relative;
		width: 100%;
	}

	&__copy {
		color: $main-color;
		margin: 0;
		padding: 1rem;
		text-align: center;

		@include tablet {
			color: #fff;
		}
	}
}
