.project-card {
	transition: all 0.4s;
	padding: 0;

	&__link {
		display: block;
		position: relative;
		padding-bottom: 3rem;
		text-decoration: none;
	}

	&__image--wrapper {
		border-radius: 0.75rem;
		box-shadow: 0 4px 6px rgba($grey, 0.5);
		position: relative;
		overflow: hidden;
		height: 16rem;
		transition: all 0.3s;
		z-index: 1;
	}

	&__image {
		animation: fadeIn 0.5s ease-in 0.5s forwards;
		display: block;
		height: 100%;
		object-fit: cover;
		transition: all 0.5s;
		width: 100%;
		opacity: 0;
	}

	&__title {
		background: #fff;
		border-radius: 1rem;
		bottom: 0;
		box-shadow: 0 4px 6px rgba($grey, 0.5);
		color: $main-color;
		font-weight: normal;
		letter-spacing: 0.05rem;
		line-height: 1;
		margin: 0 auto;
		padding: 1rem;
		position: absolute;
		text-align: center;
		transition: all 0.3s;
		width: 80%;
		z-index: 2;
		left: 0;
		right: 0;
		text-transform: uppercase;
	}

	&:hover {
		.project-card__image--wrapper {
			box-shadow: 0 4px 12px rgba($grey, 0.75);
		}

		.project-card__image {
			filter: grayscale(1);
		}

		.project-card__title {
			width: 100%;
			background: $main-color;
			color: #fff;
			padding: 1.25rem calc(1rem + 10%);
		}
	}
}
